body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:linear-gradient(135deg,#0a0a0a,#111827,#0f172a);
  color:white;
}

.nav{
  position:fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#000000cc;
}

.logo{color:#a78bfa;font-weight:bold;font-size:22px}

.links a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

header{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.cta{
  margin-top:20px;
  padding:12px 25px;
  background:#67e8f9;
  border-radius:8px;
  color:black;
  text-decoration:none;
  font-weight:bold;
}

section{padding:100px 40px;max-width:1100px;margin:auto}

.card{
  background:#111827;
  padding:20px;
  border-radius:12px;
  margin:10px;
  border:1px solid #222;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:400px;
  margin:auto;
}

input,select,button{
  padding:12px;
  border-radius:8px;
  border:none;
}

button{
  background:#a78bfa;
  font-weight:bold;
  cursor:pointer;
}

#topBtn{
  position:fixed;
  bottom:30px;
  right:30px;
  padding:10px 14px;
  border:none;
  border-radius:50%;
  background:#67e8f9;
  cursor:pointer;
}
